<div class="home-carousel">
  <div class="home-carousel__list owl-carousel owl-text-select-on">
    {{#each features as |feature|}}
      <div class="item">
        <div class="title">
          <h2>{{feature.title}}</h2>
        </div>
        <div class="text">
          <p>
            {{feature.text}}
          </p>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="signin__link">
    <div class="link_i">
      <a href="#" {{action 'signInViaTwitter'}} class="ui primary large button"><span>Login with Twitter</span></a>
    </div>
  </div>
</div>