<div class="ui form">
  <div>
    {{#each actionTypes as |actionType|}}
      <div class="field">
        <div class="ui radio checkbox">
          {{radio-button checked=(mut currentAction) on-change=(action 'setTweetAction' actionType.type) value=actionType.type}}
          <label>{{actionType.labelText}}</label>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<button class="ui small big button positive {{if isSaving 'loading'}}" {{action 'saveTweetAction'}}>
  <i class="icon save"></i>
  Save
</button>
