Content Sharing is {{if isTweetActivityOn 'ON' 'OFF'}}

{{input
  id=user.data.id
  type='checkbox'
  class='tgl tgl-ios'
  checked=isTweetActivityOn
  disabled=isSaving
}}
<label for={{user.data.id}} class='tgl-btn'></label>
