*, *:after, *:before {
  font-size: 14px;
  box-sizing: border-box;
}
.clearfix {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.app-menu.ui.visible.left.sidebar {
  width: 100px;
  & ~ .pusher {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }
  .item.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
body .app-body {
  padding: 30px;
  margin-left: 100px;
  .input {
    margin-bottom: 20px;
  }
  .ui.small.label {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .segment {
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .settings__heading {
    margin-bottom: 5px;
  }
  .settings__subheading {
    margin-top: 0px;
    font-weight: 300;
  }
}
