<h2 class="settings__heading">Favorite keywords</h2>
<h5 class="settings__subheading">Only tweets with these words will be shared. All keywords are case-insensitive</h5>
{{tweetify-options optionType='KEYWORDS'}}