<div class="top-section">
  <div class="logo__container">
    <a href="/" class="logo bold">TWEETIFY</a>
    <a href="//twitter.com/tweetifyio" target="_blank" class="bold twitter-icon">
      Follow @tweetifyio
      <i class="icon large twitter outline button"></i>
    </a>
  </div>

  <div class="main-section">
    <h1 class="usp">THE MISSING CONTENT AUTOMATION TOOL</h1>
    {{tweetify-carousel signInViaTwitter='signInViaTwitter'}}
  </div>
</div>

<div class="how-section module dark-bg">
  <h1 class="module__heading">HOW IT WORKS</h1>
  <ol class="custom-bullet">
    <li>You log in with Twitter and authorize Tweetify to access your Twitter feed</li>
    <li>You setup your favorite users and keywords</li>
    <li>We start hourly monitoring of your feed for posts by any of your favorite users</li>
    <li>We filter posts containing your specified keywords</li>
    <li>We find top tweets based on engagement, reach, spam level, etc.</li>
    <li>We schedule top 5 of these tweets over the next hour</li>
  </ol>
</div>

<div class="site-footer light-bg">
  <h3>
    <a href="https://twitter.com/tweetifyio" target="_blank" class="twitter-follow-button" data-show-count="true">Follow @tweetifyio</a>
    <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
  </h3>
  <h3>
    Made with
    <i class="icon heart"></i>
    by <a href="//twitter.com/geekykaran" target="_blank">@geekykaran</a>
    <div class="separator">&nbsp;</div>
    Tell me if you like it: <a href="mailto:karan@tweetify.io?subject=I <3 Tweetify" target="_blank">karan@tweetify.io</a>
  </h3>
</div>
